body {
	background-color: #aaa9a9;
	margin: 0;
	padding: 0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
div {
	width: 600px;
	margin: 5em auto;
	padding: 2em;
	background-color: #fdfdff;
	border-radius: 0.5em;
	box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
a:link, a:visited {
	color: #38488f;
	text-decoration: none;
}
.container {
	max-width: 800px;
	margin: 50px auto;
	background: white;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	text-align: center;
}
img {
	max-width: 100%;  
	height: auto;
	border-radius: 8px;
	margin-top: 20px;
}

/* ============================================================== */
input {
padding: 10px;
margin: 5px 0;
width: 100%;
}


button {
padding: 10px 20px;
margin-top: 10px;
cursor: pointer;
}


#popup {
position: fixed;
top: 20px;
right: 20px;
color: white;
padding: 10px 20px;
border-radius: 5px;
display: none;
}


table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}


th, td {
padding: 10px;
border: 1px solid #ddd;
}